<div id="redesSociales">
    <ul>
        <li><i class="fa fa-facebook-square fa-2x" style="color:#02527F;"></i> Facebook</li>

        <li><i class="fa fa-twitter-square fa-2x" style="color: #006D95;"></i> Twitter</li>

        <li><i class="fa fa-youtube-square fa-2x" style="color:#8C1825;"></i> Youtube</li>
    </ul>

</div>
<div id="informacion">
    <ul>
        <li>Información sobre la tienda</li>
        <li>Pc Store, Tecámac, Cp. 55749, Tecámac Estado de México</li>
        <li>Llámanos ahora: 5588503194</li>
        <li>Email: contacto@pcstore.com</li>
    </ul>
</div>
