.login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    width: 30%;
    padding: 50px;
    text-align: center;
}
.login input{
 font-size: 1.3em;   
}
.cajas{
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
    border: solid 2px;
}
.login label{
    display: block;
    margin: 10px;
    font-size: 1.2em;
}
.cajas:focus{
    color: #2E3133;
    border: solid 5px #969696;
}
.boton{
    padding: 10px;
    border-radius: 8px;
    font-size: 1em;
}
.boton:hover{
    background-color: #ddd;

}
@media only screen and (max-width: 980px) {
    .login{
        width: 50%;
    }
    .login input{
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 680px) {
    .login{
        border: none;
    }
    .cajas{
        font-size: 1.4em;
        border: none;
        border-bottom: solid;
    }
    .cajas:focus{
        border: none;
        outline: none;
        border-bottom: groove;
    }
}
